<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form action="/users/changePassword" method="post" style="margin-top: 6%;">
            <div class="container">
                <br><br>
                <input type="hidden" name="id" value="{{user.id}}">
                <input type="password" name="oldPass" placeholder="Old Password" {{#if user.msg}}
                    class="form-control is-invalid" {{/if}} class="form-control-sm" required>
                <input type="password" name="password" placeholder="New Password" id="password" {{#if user.passMatch}}
                    class="form-control is-invalid" {{/if}}class="form-control-sm" required>
                <input type="password" name="confirmPass" placeholder="Confirm New Password" {{#if user.passMatch}}
                    class="form-control is-invalid" {{/if}}class="form-control-sm" required>
                <div class="invalid-feedback">
                    {{user.msg}}
                </div>
            </div><br>
            <br>
            <div class="container" style="background-color:#f1f1f1">
                <input type="submit" class="btn btn-sm btn-dark" name="submit" value="Submit">
                <a role="button" class="btn btn-sm btn-dark" href="/users/editUser">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>